body{
  background-color: #e9ecef;
}
/*span*/

/*nav*/
nav div a{
  color: black;
  font-size: 16px;
}

nav div a:hover{
  text-decoration:none;
  color: black;
}

.header{
  background-color: #292961;
  margin-top: none;
}

header a{
  color: #c6d1f0;
  font-size: 18px;
  text-align: right;
  padding: 40px 0px 0px 0px;
  text-decoration-style: solid;
}

header img{
  float: left;
}

#espacio{
  margin-left: 230px;
  text-align: center;
}

nav div{
  text-align: left;
  text-decoration: none;
  background: white;
  border-radius: 8px;
  padding: 0.2em 0.2em 0.4em 0.2em;
  width: 100%;
  margin: 5px;
}

nav div:hover{
  background-color: #8c8caa;
}
/*img*/
footer img{
  width: 5%;
}
.avatar{
  width: 100%;
}

.portada{
  width: 100%;
}

.post-img{
  width: 80%;
  margin-left: 100px;
  margin-right: 50px;
}

.logo{
  width: 40px;
}

.avatar-panel{
  width: 10%;
}
/*estuctura*/
footer{
  background-color: black;
  color: white;
  margin-top: 30px;
}

.article{
  background-color: white;
  border-radius: 10px;
  color: black;
  margin-right: 10px;
  margin-top: 25px;
  margin-bottom: 15px;
}

/*Text*/
h1{
  text-align: center;
}

p{
  font-size: 17px;
  padding-top:8px;
}

.tacks{
  background-color: #e9ecef;
  border-radius: 5%;
  padding: 5px;
  color: black;
  }

.tacks:hover{
  color: black;
  text-decoration: none;
}

.text-panel{
  color: black;
  text-decoration: none;
}

.text-panel:hover{
  color: black;
  text-decoration: none;
}

.active{
  text-decoration-style: none;
  color: black;
}

.active:hover{
  text-decoration: none;
  color: black;
}

.avatar-text{
  font-size: 18px;
}
/*div*/
#indice{
  background-color: #fc736b;
}

#boxer-user{
  border-top-color: #83d0f2;
  border-top-style: solid;
  border-top-width: 5px;
}
/*Post*/
.posts:hover{
  opacity: 0.8;
}

.post a img{
  width: 100%;
  margin-top: 10px;
}

.post-info{
  margin-top: 10px;
}

.post-title{
  margin-top: 1px;
}

.button-post{
  margin-top: 10px;
}

.miga-de-pan{
  margin-top: 10px;
}

.active{

}
